@use 'variables' as v; 
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$main_source;
    font-size: 1.6rem;
    margin: 0;
}

p {
    color: v.$black;
    font-size: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
   text-decoration: none;
    
}

.contenedor {
    width: min(95%, 120rem);
    margin: 0 auto;
}

.separacion{
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

//Fondo azul para el heading
.fondo{
    background-color: v.$primary;
    color: v.$white;
    padding: 2rem;
}
[class$="__descripcion"]{
    margin: 1rem;
    font-size: 1.5rem;
    opacity: 0.95;
    color: v.$white;
    text-align: center;

    @include m.tablet{
        font-size: 1.8rem;
    }
}

[class$="__heading"]{
    text-align: center;
    color: v.$white;
}
[class$="__titulo"]{
    text-align: center;
    color: v.$black;
}

[class$="__nota-lista"]{
    margin: 0;
    padding-left: 1.8rem;
    font-size: 1.4rem;
    color: v.$darkGray;
    line-height: 1.6;
}

[class$="__nota-titulo"]{
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: v.$darkBlue;
}
