@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$main_source;
    font-size: 1.6rem;
    margin: 0;
}

p {
    color: v.$black;
    font-size: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
   text-decoration: none;
    
}

.separacion{
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

[class$="__titulo"]{
    text-align: center;
}

[class$="__nota-lista"]{
    margin: 0;
    padding-left: 1.8rem;
    font-size: 1.4rem;
    color: v.$darkGray;
    line-height: 1.6;
}

[class$="__nota-titulo"]{
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: v.$darkBlue;
}
