//Fuentes
$main_source: 'Lexend', sans-serif;


//Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primary: #2563EB;
$secondary: #1E40AF;
$lightGray: #F3F4F6;
$darkGray: #1F2937;
$darkBlue: #0F172A;
$white: #FFFFFF;
$black: #000000;
$blackOpacity: rgba(0, 0, 0, 0.726);

$border: #e5e7eb;
$radius: 16px;
$shadow: 0 10px 22px rgba(15, 23, 42, 0.08);
